#admin-panel {
    background-color: #202123;
    height: 100vh;
    .head-admin-panel {
        text-align: center;
        font-size: 4rem;
    }
    .settings {
        .commands {
            font-size: 25px;
        }
    }
}